{{ sensor.id|json_script:"sensor-id" }}
<div class="w-full p-4 bg-white shadow-lg rounded-2xl dark:bg-gray-700">
  <p class="pb-1 font-bold text-black text-md dark:text-white">
    {{ sensor.description }}
    <span class="ml-2 text-sm text-gray-500 dark:text-gray-300">
      {{ sensor.id }}
    </span>
  </p>
  <div id="temperature"></div>
  <div id="current"></div>
  <div id="voltage"></div>
</div>
<script>
  const sensorData = JSON.parse("{{ sensor_data|escapejs }}");

  // Default ApexCharts options
  const options = {
    series: [{ name: "Temperatura", data: [] }],
    chart: {
      id: "temperature-chart",
      group: "energy",
      height: 200,
      type: "line",
      animations: {
        enabled: true,
        easing: "linear",
        dynamicAnimation: {
          speed: 1000,
        },
      },
      toolbar: {
        show: false,
      },
      zoom: {
        enabled: false,
      },
    },
    dataLabels: {
      enabled: false,
    },
    stroke: {
      curve: "smooth",
    },
    title: {
      text: "Temperature",
      align: "left",
    },
    markers: {
      size: 0,
    },
    yaxis: {
      labels: {
        formatter: function (val) {
          return val.toFixed(2);
        },
      },
      title: {
        text: "celsius",
      },
    },
    xaxis: {
      type: "datetime",
      min: new Date().getTime() - 24 * 60 * 60 * 1000, // Defina o mínimo para 24 horas atrás
      max: new Date().getTime(), // Defina o máximo para o tempo atual
    },
    legend: {
      show: false,
    },
  };

  // Temperature chart
  const temperatureData = sensorData.map(function (data) {
    var temperature = parseFloat(data.fields.temperature);
    return {
      x: new Date(data.fields.timestamp),
      y: temperature,
    };
  });
  const temperatureChart = new ApexCharts(
    document.querySelector("#temperature"),
    {
      ...options,
      series: [{ name: "Temperature", data: temperatureData }],
      title: { ...options.title, text: "Temperatura" },
      colors: ["#00E396"],
    }
  );
  temperatureChart.render();

  // Voltage chart
  const voltageData = sensorData.map(function (data) {
    var voltage = parseFloat(data.fields.voltage);
    return {
      x: new Date(data.fields.timestamp),
      y: voltage,
    };
  });
  const voltageChart = new ApexCharts(document.querySelector("#voltage"), {
    ...options,
    series: [{ name: "Voltage", data: voltageData }],
    chart: { ...options.chart, id: "voltage-chart" },
    title: { ...options.title, text: "Tensão" },
    yaxis: {
      ...options.yaxis,
      title: {
        ...options.yaxis.title,
        text: "volts",
      },
    },
    colors: ["#FF8C00"],
  });
  voltageChart.render();

  // Current chart
  const currentData = sensorData.map(function (data) {
    var current = parseFloat(data.fields.current);
    return {
      x: new Date(data.fields.timestamp),
      y: current,
    };
  });
  const currentChart = new ApexCharts(document.querySelector("#current"), {
    ...options,
    series: [{ name: "Current", data: currentData }],
    chart: { ...options.chart, id: "current-chart" },
    title: { ...options.title, text: "Corrente" },
    yaxis: {
      ...options.yaxis,
      title: {
        ...options.yaxis.title,
        text: "amperes",
      },
    },
  });
  currentChart.render();

  // Websocket
  const sensor_id = JSON.parse(
    document.getElementById("sensor-id").textContent
  );

  const sensorSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/sensor/" + sensor_id + "/"
  );

  sensorSocket.onmessage = function (e) {
    const dataMsg = JSON.parse(JSON.parse(e.data).message);

    // Temperature
    temperatureData.push({
      x: new Date(dataMsg.timestamp),
      y: dataMsg.temperature,
    });
    temperatureChart.updateSeries([
      {
        data: temperatureData,
      },
    ]);
    temperatureChart.updateOptions({
      xaxis: {
        min: new Date().getTime() - 24 * 60 * 60 * 1000,
        max: new Date().getTime(),
      },
    });

    // Voltage
    voltageData.push({
      x: new Date(dataMsg.timestamp),
      y: dataMsg.voltage,
    });
    voltageChart.updateSeries([
      {
        data: voltageData,
      },
    ]);
    voltageChart.updateOptions({
      xaxis: {
        min: new Date().getTime() - 24 * 60 * 60 * 1000,
        max: new Date().getTime(),
      },
    });

    // Current
    currentData.push({
      x: new Date(dataMsg.timestamp),
      y: dataMsg.current,
    });
    currentChart.updateSeries([
      {
        data: currentData,
      },
    ]);
    currentChart.updateOptions({
      xaxis: {
        min: new Date().getTime() - 24 * 60 * 60 * 1000,
        max: new Date().getTime(),
      },
    });
  };

  sensorSocket.onclose = function (e) {
    console.error("Sensor socket closed unexpectedly");
  };
</script>
